@import "@/style/container";

.background {
  position: relative;
}

.execution {
  &__title {
    margin-bottom: 100px;
  }

  .execution__cards {
    margin-bottom: 40px;

    @include for-size(tablet) {
      margin-bottom: 100px;
    }
    @include for-size(laptop) {
      margin-bottom: 120px;
    }
    @include for-size(desktop) {
      margin-bottom: 180px;
    }
  }

  &__incoterms {
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &__vector {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    display: none;

    @include for-size(laptop) {
      display: block;
      width: 100%;
      top: 12.5%;
    }
    @include for-size(desktop) {
      top: 11.7%;
    }
  }
}
