@import "@/style/container";
@import "@/style/font_default";

.execution {
  margin-top: 99px;

  &__title {
    margin-bottom: 101px;
  }

  &__incoterms{
    margin-bottom: 180px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}
