$brandColorDarkGreen: #565f51;
$blackTextColor: #171717;
$backgroundColorGreen: #ebece6;
$backgroundColorLightGreen: #a7b896;
$backgroundColorLightRed: #de7272;

$disabledColor: #c8c8c8;
$classicWhiteBackgroundColor: #ffffff;
$additionalBackgroundColor: #ecf1f6;
$backgroundColorDarkBlue: #2a4563;
