@import-normalize;

@import "./colors";
@import "./container";
@import "./viewports";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #a7b896;
  color: $blackTextColor;
}

code {
  font-family: "Manrope";
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  word-break: break-word;
  color: $blackTextColor;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

div,
li,
a,
p {
  color: $blackTextColor;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;

  @include for-size(laptop) {
    font-size: 18px;
    line-height: 150%;
  }
}

h1 {
  color: $brandColorDarkGreen;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;

  @include for-size(tablet) {
    font-size: 38px;
  }
  @include for-size(laptop) {
    font-size: 46px;
    line-height: 150%;
  }
  @include for-size(desktop) {
    font-size: 58px;
  }
}

h2 {
  color: $blackTextColor;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 130%;
  font-weight: 600;

  @include for-size(tablet) {
    font-size: 38px;
  }
  @include for-size(laptop) {
    font-size: 40px;
    line-height: 150%;
  }
  @include for-size(desktop) {
    font-size: 48px;
  }
}

h3 {
  color: $brandColorDarkGreen;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;

  @include for-size(tablet) {
    font-size: 22px;
  }
  @include for-size(laptop) {
    font-size: 26px;
    line-height: 150%;
  }
  @include for-size(desktop) {
    font-size: 28px;
  }
}
