@import "./../../../style/container";

.advantages {
  display: grid;
  margin-bottom: 180px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 68px;
  }
}
