@import "./../../../style/container";

.box {
  width: 100%;
  padding: 0 24px;
}

.advantages {
  padding: 100px 0;
  background-color: #f6f6f6;
  border-radius: 24px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 68px;
  }
}
