@import "./../../../style/container";
@import "./../../../style/viewports";

.team {
  position: relative;
  z-index: 0;

  &__control {
    border-color: #565f51;
    border-radius: 20px;
    padding: 11px 27px;

    @include for-size(laptop) {
      border-radius: 24px;
      padding: 15px 33px;
    }
  }

  &__controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0;

    @include for-size(tablet) {
      justify-content: center;
      gap: 260px;
      margin-top: 80px;
    }
    @include for-size(laptop) {
      gap: 340px;
      margin-top: 100px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
  }

  &__arrow {
    width: 22px;
    height: 12px;

    @include for-size(laptop) {
      width: 28px;
    }
  }

  &__vector {
    width: 100%;
    position: absolute;
    top: -4%;
    z-index: -1;
  }
}
