@import "./../style/container";
@import "./../style//font_default";

.box {
  width: 100%;
  padding: 0 20px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #ffffff;
  border-radius: 24px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 19px;
  }

  &__info {
    display: grid;
    gap: 13px;
    margin-bottom: 140px;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__box {
    display: flex;
    gap: 49px;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__list_services {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__copyright {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
  }
}
