@import "@/style/container";
@import "@/style//font_default";
@import "@/style/viewports";

.box {
  width: 100%;
  padding: 0 16px 16px 16px;

  @include for-size(laptop) {
    padding: 0 24px 24px 24px;
  }
}

.footer {
  padding: 20px 16px;

  background-color: #ffffff;
  border-radius: 16px;

  @include for-size(laptop) {
    padding: 50px 24px;
    border-radius: 24px;
  }

  @include for-size(desktop) {
    padding: 50px 76px;
    border-radius: 24px;
  }

  &__container {
    display: grid;
    gap: 30px;

    @include for-size(laptop) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    user-select: none;

    @include for-size(laptop) {
      gap: 72px;
    }
  }

  &__social {
    display: flex;
    gap: 24px;
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include for-size(laptop) {
      width: 36px;
      height: 36px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include for-size(laptop) {
      align-items: flex-end;
      gap: 78px;
    }
  }

  &__lists {
    text-align: center;
    display: grid;
    gap: 8px;

    @include for-size(laptop) {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
    }

    @include for-size(desktop) {
      display: flex;
      justify-content: flex-start;
      gap: 80px;
    }
  }

  &__list {
    display: grid;
    gap: 8px;

    &:nth-child(2) {
      margin-bottom: 16px;

      @include for-size(laptop) {
        margin-bottom: 0;
      }
    }

    @include for-size(laptop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__link {
    color: #2a4563;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

    @include for-size(laptop) {
      font-size: 20px;
    }

    @include for-size(desktop) {
      font-size: 24px;
    }
  }

  &__copyright {
    color: #2a4563;
    font-size: 16px;
    line-height: 130%;
    text-align: center;

    @include for-size(laptop) {
      font-size: 18px;
      line-height: 150%;
    }
  }
}
