@import "./../style/viewports";
@import "./../style/container";

.header {
  width: 100%;
  padding: 24px 20px 0 20px;
  position: relative;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 89px;
    background: #ffffff;
    border-radius: 24px;
  }

  &__logo {
    font-size: 40px;

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  &__logo_mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  &__navigation {
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  &__list {
    @media screen and (max-width: 1280px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    gap: 40px;
  }

  &__item {
    @media screen and (max-width: 1280px) {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      font-size: 24px;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      gap: 10px;
      user-select: none;
      font-size: 18px;
    }
  }

  &__dropdown {
    @media screen and (max-width: 1280px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #8d8d8d;
    }
    @media screen and (min-width: 1280px) {
      background-color: #ffffff;
      display: flex;
      gap: 10px;
      flex-direction: column;
      position: absolute;
      top: 88px;
      border: 1px solid #f3f3f3;
      border-radius: 24px;
      padding: 12px 24px;
    }
  }

  &__select {
    background: transparent;
  }

  &__option_hidden {
    display: none;
  }

  &__contents {
    @media screen and (max-width: 1280px) {
      display: flex;
      gap: 20px;
    }

    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header__touch {
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }

  .header__button {
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;

  &__rotated {
    transform: rotate(180deg);
  }
}

.flag {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
  user-select: none;

  &__image {
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
  }

  &__list {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 10px 14px;
    border: 1px solid #f3f3f3;
    border-radius: 14px;
    width: 70px;
    z-index: 100;
  }
}

.modal {
  background-color: #ffffff;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;

  &__close {
    position: absolute;
    top: 64px;
    right: 116px;
  }

  &__container {
    position: relative;
    top: 12%;
    display: grid;
    gap: 60px;
  }
}

.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
