.article {
  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1.5rem;
  }
}

.quote {

  &__container {
    border-radius: 32px;
    padding: 61px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 566px;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 32px;

    &_container {
      height: 566px;
    }
  }
}
