@import "@/style/colors";

.services {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(404px, 1fr));
}

.card {
  border-radius: 32px;
  padding: 38px 30px 46px 30px;
  background-color: $additionalBackgroundColor;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 40px;
    color: $backgroundColorDarkBlue;
  }

  &.lastServiceCard,
  &.cardWithBorder {
    border: 2px solid $backgroundColorDarkBlue;
  }

  &.whiteCard {
    background-color: $classicWhiteBackgroundColor;
  }

  &__list {
    padding-left: 36px;
    color: $backgroundColorDarkBlue;
    list-style-type: initial;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
