@import "./../style/colors";

.main {
  &__button {
    cursor: pointer;
    color: $classicWhiteBackgroundColor;
    background: $brandColorDarkGreen;
    border-radius: 40px;
    max-width: fit-content;
    font-size: 20px;
    transition: background-color 0.6s ease, color 0.6s ease;

    &:hover {
      background-color: $backgroundColorLightGreen;
      & .main__container {
        display: flex;
        gap: 16px;
        flex-direction: row-reverse;
        transition: transform 0.6s ease;
        padding: 9px 16px 9px 8px;
      }

      & .main__link > * {
        transform: translateX(0);
      }

      & .main__arrow {
        color: $classicWhiteBackgroundColor;
        transition: fill 0.6s ease;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
      }

      & .main__background {
        background-color: transparent;
        border: 1px solid $classicWhiteBackgroundColor;
      }
    }

    & > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }
  }

  &__container {
    display: flex;
    gap: 16px;
    padding: 9px 8px 9px 16px;
  }

  &__link {
    display: flex;
    gap: 8px;
  }

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    background-color: $classicWhiteBackgroundColor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__arrow {
    color: white;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
  }
}
