@import "./../style/colors";

.main {
  &__button {
    cursor: pointer;
    color: $classicWhiteBackgroundColor;
    background: $brandColorDarkGreen;
    border-radius: 40px;
    max-width: fit-content;
    font-size: 20px;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
    position: relative;

    &:hover {
      background-color: $backgroundColorLightGreen;

      & .main__container {
        transition: transform 0.6s ease;
      }

      & .main__text {
        transform: translateX(40px); /* Зсув тексту вправо на 40px */
      }

      & .main__link > * {
        transform: translateX(0);
      }

      & .main__background {
        transform: translateX(-140px); /* Зсув фону вліво на 140px */
        background-color: transparent;
        border: 1px solid $classicWhiteBackgroundColor;
      }

      & .main__arrow {
        color: $classicWhiteBackgroundColor;
        transform: rotate(0deg);
        filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(46deg)
          brightness(107%) contrast(104%);
      }
    }

    &:not(:hover) {
      & .main__container {
        transform: translateX(
          0
        ); /* Повернення контейнера в початкове положення */
      }

      & .main__text {
        transform: translateX(0); /* Повернення тексту в початкове положення */
      }

      & .main__background {
        transform: translateX(0); /* Повернення фону в початкове положення */
        background-color: $classicWhiteBackgroundColor;
        border: none;
      }

      & .main__arrow {
        transform: rotate(
          180deg
        ); /* Повернення стрілки в початкове положення */
      }
    }

    & > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }
  }

  &__container {
    position: relative;
    display: flex;
    gap: 16px;
    padding: 9px 8px 9px 16px;
    transition: transform 0.6s ease;
  }

  &__link {
    display: flex;
    gap: 8px;
  }

  &__text {
    transition: transform 0.6s ease;
  }

  &__background {
    top: 50%;
    left: 50%;
    transform: translate(0, 0);
    background-color: $classicWhiteBackgroundColor;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.6s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
  }

  &__arrow {
    filter: invert(35%) sepia(9%) saturate(695%) hue-rotate(55deg)
      brightness(91%) contrast(79%);
    transform: rotate(180deg);
    transition: transform 0.6s ease;
  }
}
