@import "@/style/viewports";

.main {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: baseline;
  margin-bottom: 40px;
  gap: 16px;
  position: relative;
  z-index: 2;

  @include for-size(tablet) {
    margin-bottom: 60px;
    gap: 18px;
  }

  @include for-size(laptop) {
    margin-bottom: 80px;
    gap: 22px;
  }

  @include for-size(desktop) {
    margin-bottom: 100px;
    gap: 24px;
  }

  &.left {
    @include for-size(laptop) {
      justify-content: end;
    }
  }

  &.mobileLeft {
    justify-content: end;
  }

  &__image {
    width: 27px;
    height: 40px;

    @include for-size(tablet) {
      width: 32px;
      height: 48px;
    }

    @include for-size(laptop) {
      width: 40px;
      height: 56px;
    }

    @include for-size(desktop) {
      width: 44px;
      height: 67px;
    }
  }
}
