.main {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 100px;
  &.left {
    justify-content: flex-start;
  }

  &__title {
    text-transform: capitalize;
    font-size: 47px;
    font-weight: 600;
    line-height: 150%;
  }
}
