@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: 1280px) {
    gap: 60px;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
  }

  &__text {
    text-align: center;
    font-size: 18px;

    @include for-size(tablet) {
      width: 590px;
      font-size: 20px;
    }
    @include for-size(laptop) {
      width: 680px;
      font-size: 22px;
    }
    @include for-size(desktop) {
      width: 854px;
      font-size: 24px;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
