@import "./../style/colors";
@import "./../style/viewports";

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 130%;

  @include for-size(laptop) {
    gap: 100px;
    font-size: 18px;
    line-height: 150%;
  }

  &__content {
    display: flex;
    align-items: stretch;
    gap: 20px;

    @include for-size(tablet) {
      gap: 44px;
    }
    @include for-size(laptop) {
      gap: 36px;
    }
  }

  &__pages {
    color: $brandColorDarkGreen;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 200%;
      height: 1px;
      background: $brandColorDarkGreen;
      transition: transform 0.3s ease-in-out;
      left: 50%;
      bottom: 4px;
      transform-origin: center;
      transform: translateX(-50%) scaleX(0);
    }
    &:hover::after {
      transform: translateX(-50%) scaleX(1);
    }

    &.active {
      color: $brandColorDarkGreen;
      border: 1px solid $brandColorDarkGreen;
      border-radius: 24px;
      padding: 6px 24px;

      &::after {
        transform: translateX(-50%) scaleX(0);
        background: transparent;
      }
      @include for-size(laptop) {
        padding: 7.5px 30px;
      }
    }
  }

  &__arrow_image {
    width: 22px;
    height: 22px;
    transition: filter 0.2s ease-in-out;
    filter: invert(34%) sepia(7%) saturate(777%) hue-rotate(55deg)
      brightness(95%) contrast(84%);

    @include for-size(laptop) {
      width: 28px;
      height: 24px;
    }
  }

  &__button {
    border: 1px solid $brandColorDarkGreen;
    border-radius: 24px;
    padding: 6px 27px;

    max-width: max-content;
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
    cursor: pointer;

    &:first-child {
      transform: scaleX(-1);
    }
    @include for-size(laptop) {
      padding: 7.5px 32px;
    }
    &:hover:not(.pagination__arrow_disabled) {
      background-color: $brandColorDarkGreen;
      .pagination__arrow_image {
        filter: invert(100%) sepia(18%) saturate(91%) hue-rotate(287deg)
          brightness(104%) contrast(104%);
      }
    }

    &.pagination__arrow_disabled {
      cursor: not-allowed;
      border-color: $disabledColor;
      background-color: transparent;
      .pagination__arrow_image {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
          brightness(86%) contrast(88%);
      }
    }
  }
}
