.hidden {
  display: none;
}

.pagination {
  user-select: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;

  &__break {
    cursor: pointer;
  }

  &__pages {
    cursor: pointer;
    &.active {
      color: #565f51;
      border: 1px solid #565f51;
      border-radius: 24px;
      padding: 8.5px 32px;
    }
  }

  &__arrow_previous {
    transform: scaleX(-1);
    margin-right: 140px;
  }

  &__arrow_next {
    margin-left: 140px;
  }

  &__arrow_image {
    height: 24px;
    width: 28px;
  }

  &__arrow_previous,
  &__arrow_next {
    border: 1px solid #565f51;
    border-radius: 24px;
    padding: 8.5px 32px;
    max-width: max-content;
  }
}
