@import "@/style/colors";
@import "/style/container";
@import "@/style/viewports";

.cards {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  @include for-size(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include for-size(laptop) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  &__card {
    padding: 42px 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    min-height: 245px;
    @include for-size(laptop) {
      padding: 30px 32.5px;
    }
    @include for-size(desktop) {
      border-radius: 32px;
    }
  }

  &__small_card {
    padding: 25px 20px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    border-radius: 24px;
    min-height: 245px;
    max-height: 280px;

    @include for-size(tablet) {
      grid-column: span 2; /* Займати дві колонки на планшеті */
    }
    @include for-size(laptop) {
      height: 100%;
      max-height: none;
      grid-column: auto;
    }
    @include for-size(desktop) {
      border-radius: 32px;
    }
  }

  .tabletCard {
    @include for-size(tablet) {
      grid-column: span 2; /* Займати дві колонки на планшеті */
    }
    @include for-size(laptop) {
      grid-column: auto;
    }
  }

  .tabletImage {
    @include for-size(tablet) {
      grid-column: span 1; /* Займати одну колонку на планшеті */
    }
    @include for-size(laptop) {
      grid-column: auto;
    }
  }

  &__large_text {
    color: $backgroundColorDarkBlue;
    font-size: 18px;
    font-weight: 500;

    @include for-size(laptop) {
      font-size: 24px;
    }
  }

  &__small_text {
    color: $backgroundColorDarkBlue;
  }
}
