@import "/style/container";

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__container {
    display: grid;
    gap: 16px;
    user-select: none;

    @include for-size(tablet) {
      grid-auto-rows: 1fr;
    }

    @include for-size(laptop) {
      gap: 24px;
    }
  }

  &__title {
    margin: 0 16px 40px 16px;

    @include for-size(tablet) {
      margin: 0 16px 60px 16px;
    }

    @include for-size(laptop) {
      margin: 0 24px 80px 24px;
    }

    @include for-size(desktop) {
      margin: 0 24px 100px 24px;
    }
  }
}

.background {
  position: relative;
  z-index: 1;
}

.brand__element {
  transform: scaleX(-1);
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0.7%;
  right: 1.5%;
  width: 95%;

  @include for-size(tablet) {
    top: 1%;
    width: 43%;
  }
}
