@import "./../../../style/container";

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;

  &__cards {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
  }
}
