@import "./../../../style/container";

.box {
  width: 100%;
  padding: 0 24px;
}

.contact {
  padding-top: 117px;
  padding-bottom: 90px;

  background-color: #f6f6f6;
  border-radius: 24px;
}

.form {
  --columns: 2;
  border: 2px solid #565f51;
  border-radius: 32px;
  background: #fff;
  padding: 64px;
  max-width: 952px;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  &__input {
    text-transform: uppercase;
    border-bottom: 1px solid #565f51;
    width: 400px;
    padding: 0 0 10px 0;
    outline: none;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
    margin-bottom: 48px;
  }

  &__message {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    border-bottom: 1px solid #565f51;
    width: 100%;
    padding: 0 0 10px 0;
    resize: none;
    outline: none;
  }

  &__picture {
    object-fit: cover;
    width: 463px;
    // height: 403px;
    border-radius: 24px;
  }

  &__button {
    cursor: pointer;
    color: #000;
    background: #b3b3b3;
    padding: 12px 30px;
    border-radius: 40px;
    max-width: fit-content;
    font-size: 20px;
  }

  &__attach {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 58px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  background-color: #e7e7e7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 464px;
  padding: 10px 15px;
}

.inputfile + label * {
  pointer-events: none;
}

.form__textarea::placeholder,
.form__input::placeholder,
.form__message::placeholder,
.form__option {
  color: #565f51;
}
