@import "./../../../style/container";
@import "./../../../style/viewports";
@import "./../../../style/colors";

.form {
  border: 2px solid $brandColorDarkGreen;
  border-radius: 24px;
  background: #fff;
  padding: 24px 16px;
  max-width: 952px;
  width: 100%;

  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    &__custom {
      align-items: flex-end;
    }
  }

  @include for-size(laptop) {
    border-radius: 32px;
    padding: 64px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include for-size(laptop) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__group {
    @include for-size(tablet) {
      display: flex;
      flex-direction: column;
      width: calc((100% - 24px) / 2);
    }
  }

  &__content {
    display: flex;
    // align-items: flex-end;
    margin-bottom: 50px;
  }

  &__box {
    width: 100%;
    display: grid;
    gap: 48px;
  }

  &__fileButton {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    user-select: none;
  }

  &__input {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: $brandColorDarkGreen;
    user-select: none;

    width: 100%;
    border-bottom: 1px solid $brandColorDarkGreen;
    padding: 0 0 9px 0;
    outline: none;
  }

  &__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__inputs {
    @media screen and (max-width: 767.98px) {
      display: flex;
      gap: 40px;
      flex-direction: column;
    }

    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 48px;
      margin-bottom: 0;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $brandColorDarkGreen;
    width: 100%;
    height: 37px;
    padding: 0 0 9px 0;
    resize: none;
    outline: none;
  }

  &__attach {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
  }

  &__picture {
    object-fit: cover;
    border-radius: 24px;
    @include for-size(phone) {
      width: 100%;
    }
    @include for-size(tablet) {
      display: none;
    }
    @include for-size(laptop) {
      display: block;
      border-radius: 32px;
    }
  }

  &__cv {
    padding-bottom: 9px;
    border-bottom: 1px solid $brandColorDarkGreen;
  }
}

.cv {
  color: $backgroundColorDarkBlue;
  border-color: $backgroundColorDarkBlue;
}

.cv .dropdown__list {
  color: $backgroundColorDarkBlue;
  background-color: #ecf1f6;
}

.form__input.cv::placeholder {
  color: $backgroundColorDarkBlue;
}

.form__input::placeholder,
.form__message::placeholder {
  color: $brandColorDarkGreen;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.dropdown {
  position: relative;
  cursor: pointer;

  &__list {
    background-color: #ebece6;

    display: grid;
    gap: 16px;

    position: absolute;
    padding: 16px 96px 16px 16px;
    width: 100%;
    top: 100%;
    left: 0;
    border-radius: 32px;
    margin-top: 8px;

    font-size: 14px;
    line-height: 130%;
    color: $brandColorDarkGreen;

    user-select: none;
    z-index: 10;

    @include for-size(laptop) {
      padding: 24px 150px 24px 36px;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      border-radius: 24px;
      margin-top: 16px;
    }
  }
}

.arrow {
  transition: transform 0.3s ease;

  &__open {
    transform: rotate(180deg);
  }
}

//=== Test Styles ===//
.form__test {
  display: flex;
  gap: 60px;

  @media screen and (max-width: 767.98px) {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  @include for-size(tablet) {
    align-items: center;
  }
}

.formMessage {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: $brandColorDarkGreen;
}

.form__fileMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inputValid {
  border-color: #a7b896;
  color: #a7b896;
}

.inputInvalid {
  border-color: #de7272;
  color: #de7272;
}

//=== Test Styles ===//
