@import "./../../../style/container";

.form {
  border: 2px solid #565f51;
  border-radius: 32px;
  background: #fff;
  padding: 24px 16px;
  max-width: 952px;
  width: 100%;

  @media screen and (min-width: 1280px) {
    padding: 64px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__group {
    @media screen and (min-width: 1280px) {
      display: flex;
      flex-direction: column;
      width: calc((100% - 24px) / 2);
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
  }

  &__box {
    width: 100%;
    display: grid;
    gap: 48px;
  }

  &__input {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;

    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid #565f51;
    padding: 0 0 9px 0;
    outline: none;
  }

  &__inputs {
    @media screen and (max-width: 1279.98px) {
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 48px;
      margin-bottom: 0;
    }
  }

  &__message {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    border-bottom: 1px solid #565f51;
    width: 100%;
    height: 37px;
    padding: 0 0 9px 0;
    resize: none;
    outline: none;
  }

  &__picture {
    object-fit: cover;
    border-radius: 24px;

    @media screen and (min-width: 1280px) {
      width: 464px;
    }
  }

  &__button {
    cursor: pointer;
    color: #000;
    background: #b3b3b3;
    padding: 12px 30px;
    border-radius: 40px;
    max-width: fit-content;
    font-size: 20px;
  }

  &__attach {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 58px;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #000;
  background-color: #e7e7e7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 10px 15px;
}

.inputfile + label * {
  pointer-events: none;
}

.form__textarea::placeholder,
.form__input::placeholder,
.form__message::placeholder,
.form__option {
  color: #565f51;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
