@import "@/style/container";
@import "@/style/viewports";

.hero {
  @include for-size(laptop) {
    background-color: #f6f6f6;
    border-radius: 24px;
    padding: 24px 82px;
  }

  &__loading{
    height: calc(100vh - 70px);
    border-radius: 24px;
  }
  &__video {
    
    height: calc(100vh - 70px);

    @include for-size(tablet){
      min-height: 750px;
    }
    border-radius: 24px;
    
    object-fit: cover;
  }
}
