@import "./../../../style/container";

.box {
  width: 100%;
  padding: 90px 20px;
}

.services {
  position: relative;
  z-index: 0;

  padding-top: 117px;
  padding-bottom: 90px;

  background-color: #f6f6f6;
  border-radius: 24px;

  // &__cards {
  //   display: grid;
  //   gap: 1.5rem;
  //   grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  //   grid-template-rows: repeat(auto-fit, max(464px, 1fr));
  // }
}
