@import "@/style/container";

.partners {
  &__wrapper {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  &__image {
    object-fit: contain;
    width: 100%;
  }

  &__image_container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 500ms;
    height: 220px;
  }
}
