@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.map {
  display: grid;
  gap: 16px;

  @include for-size(tablet) {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    height: 494px;
  }
  @include for-size(laptop) {
    gap: 24px;
    min-height: 584px;
  }

  &__container {
    @include for-size(tablet) {
      grid-column: span 2;
    }
  }

  &__content {
    background-color: $backgroundColorGreen;
    border-radius: 24px;
    padding: 32px 40px;
    display: grid;
    gap: 24px;

    @include for-size(tablet) {
      overflow-y: scroll;
    }
    @include for-size(desktop) {
      border-radius: 32px;
    }
  }

  &__title {
    color: $brandColorDarkGreen;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__subtitle {
    color: $blackTextColor;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__list {
    display: grid;
    gap: 4px;
  }

  &__item {
    list-style-type: disc;
    margin-left: 20px;

    @include for-size(laptop) {
      margin-left: 22px;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__items {
    text-decoration: none;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__message {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    @include for-size(laptop) {
      font-size: 28px;
    }
  }
}
