@import "/style/viewports";
@import "/style/colors";

.advantages {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 50px 20px;
    height: 100%;
    @include for-size(phone) {
      height: 212px;
    }
    @include for-size(laptop) {
      padding: 48px 52px;
    }
    @include for-size(desktop) {
      border-radius: 32px;
    }
  }

  &__text {
    text-align: center;
    color: $backgroundColorDarkBlue;
    font-size: 18px;

    @include for-size(laptop) {
      font-size: 24px;
    }
  }
}
