@import "@/style/colors";
@import "@/style/container";
@import "@/style/viewports";

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;

  @include for-size(tablet) {
    display: grid;
    gap: 5rem;
  }
  @include for-size(laptop) {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  &__picture {
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 20px;
    height: 364px;
    width: 300px;

    @include for-size(tablet) {
      margin-bottom: 32px;
      height: 400px;
      width: 342px;
    }
    @include for-size(desktop) {
      border-radius: 32px;
    }
  }

  &__name {
    color: $backgroundColorDarkBlue;
    margin-bottom: 12px;

    @include for-size(laptop) {
      margin-bottom: 14px;
    }
    @include for-size(laptop) {
      margin-bottom: 16px;
    }
  }
}
