@import "/style/viewports";
@import "/style/colors";

.blog__card {
  display: flex;
  gap: 24px;
  width: 100%;
}

.blog {
  display: flex;
  padding: 24px;
  background-color: $classicWhiteBackgroundColor;
  border: 2px solid $backgroundColorLightGreen;
  border-radius: 32px;
  gap: 36px;

  @include for-size(laptop) {
    min-height: 400px;
  }

  @include for-size(desktop) {
    min-height: 600px;
    width: 952px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-width: 360px;

    @include for-size(laptop) {
    }

    @include for-size(desktop) {
    }
  }

  &__title {
    margin-top: 14px;
    color: $backgroundColorDarkBlue;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;

    @include for-size(laptop) {
      font-size: 28px;
      line-height: 150%;
    }
  }

  &__container {
    display: grid;
    gap: 16px;
  }

  &__text {
    color: $blackTextColor;
    font-size: 16px;
    line-height: 130%;

    @include for-size(laptop) {
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data {
    color: $backgroundColorLightGreen;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__picture {
    border-radius: 20px;
    object-fit: cover;
    user-select: none;
    max-width: 452px;
    min-height: 551px;
    // @include for-size(tablet) {
    //   width: 252px;
    //   height: 352px;
    // }

    // @include for-size(laptop) {
    //   width: 100%;
    //   height: auto;
    // }
  }
}
