@import "/style/viewports";
@import "/style/colors";

.blog__card {
  gap: 24px;
  width: 100%;
  grid-column: span 2;
}

.blog {
  display: flex;
  padding: 20px;
  background-color: $classicWhiteBackgroundColor;
  border: 2px solid $backgroundColorLightGreen;
  border-radius: 24px;
  gap: 36px;
  height: 100%;

  @include for-size(laptop) {
    padding: 24px;
  }
  @include for-size(desktop) {
    border-radius: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
  }

  &__title {
    margin-top: 14px;
    color: $backgroundColorDarkBlue;
  }

  &__container {
    display: grid;
    gap: 16px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__picture {
    border-radius: 16px;
    object-fit: cover;
    user-select: none;
    width: 50%;
    height: 100%;

    @include for-size(laptop) {
      border-radius: 20px;
    }
  }

  &__data {
    color: $backgroundColorLightGreen;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }
}
