.blog__card {
  display: flex;
  gap: 24px;
}

.blog {
  display: flex;
  padding: 24px;
  background-color: #ffffff;
  border: 2px solid #a7b896;
  border-radius: 24px;
  gap: 62px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 416px;
  }

  &__title {
    margin-top: 14px;
    color: #2a4563;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
  }

  &__container {
    display: grid;
    gap: 16px;
  }

  &__text {
    color: #171717;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data {
    color: #a7b896;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }

  &__picture {
    border-radius: 24px;
    object-fit: cover;
    user-select: none;
    max-width: 499px;
    max-height: 468px;
  }
}
