@import "./../../style//container";

.blog__container {
  display: flex;
  gap: 24px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
  border: 1px solid #000;
  border-radius: 24px;
  width: 464px;
  padding: 24px;
  min-height: 515px;

  &__picture {
    border-radius: 24px;
    object-fit: cover;
    user-select: none;
    width: 416px;
    height: 250px;
  }

  &__content {
    display: grid;
    gap: 16px;
  }

  &__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
  }

  &__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
