@import "@/style/container";
@import "@/style/viewports";
@import "@/style/colors";

.blog {
  display: flex;
  flex-direction: column;
  background-color: $classicWhiteBackgroundColor;
  border: 2px solid $backgroundColorLightGreen;
  gap: 16px;
  padding: 20px;
  border-radius: 24px;
  height: 100%;

  @include for-size(tablet) {
    gap: 22px;
  }
  @include for-size(laptop) {
    gap: 28px;
    padding: 24px;
  }
  @include for-size(desktop) {
    gap: 32px;
    border-radius: 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    height: 100%;
  }

  &__content {
    display: grid;
    gap: 16px;

    @include for-size(laptop) {
      gap: 32px;
    }
  }

  &__picture {
    border-radius: 16px;
    object-fit: cover;
    user-select: none;
    height: 170px;
    width: 100%;

    @include for-size(tablet) {
      gap: 22px;
      height: 190px;
    }
    @include for-size(laptop) {
      border-radius: 20px;
      height: 220px;
    }
    @include for-size(desktop) {
      height: 250px;
    }
  }

  &__info {
    display: grid;
    gap: 16px;
  }

  &__title {
    color: $backgroundColorDarkBlue;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;

    @include for-size(tablet) {
      font-size: 22px;
      // min-height: 86px;
    }
    @include for-size(laptop) {
      font-size: 24px;
      line-height: 150%;
      // min-height: 108px;
    }
    @include for-size(desktop) {
      font-size: 28px;
      // min-height: 126px;
    }
  }

  &__text {
    color: $blackTextColor;
    font-size: 16px;
    line-height: 130%;

    @include for-size(laptop) {
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data {
    color: $backgroundColorLightGreen;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }
}
