@import "@/style/container";
@import "@/style/font_default";

.blog {
  margin-top: 100px;
  margin-bottom: 146px;

  &__title {
    margin-bottom: 214px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    margin-bottom: 148px;
  }

  &__grid {
    display: grid;
  }
}
