@import "@/style/colors";
@import "@/style/container";

.hero {
  display: grid;
  gap: 8.938em;
  grid-template-columns: 1fr 1.2fr;

  &__title {
    margin-bottom: 140px;
  }

  &__texts {
    max-width: 586px;
  }

  &__heading {
    font-size: 47px;
    font-weight: 600;
    line-height: 150%;
    color: $blackTextColor;
    margin-bottom: 78px;
    margin-top: 25px;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: $blackTextColor;
    margin-bottom: 60px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
  }
}
