@import "/style/container";
@import "/style/viewports";

.about__container {
  padding: 30px 16px;

  @include for-size(tablet) {
    padding: 50px 0;
  }
  @include for-size(laptop) {
    padding: 100px 0;
  }
  @include for-size(desktop) {
    padding: 100px 0;
  }
}
