@import "@/style/container";
@import "@/style/font_default";
@import "@/style/colors";

.article {
  margin-bottom: 86px;
  margin-top: 99px;
  &__title {
    text-align: left;
    font-size: 58px;
    font-weight: 700;
    line-height: 150%;
    color: $brandColorDarkGreen;
    margin-bottom: 60px;
  }

  &__date {
    color: $backgroundColorLightGreen;
    margin-bottom: 88px;
  }

  &__content {
    display: flex;
    gap: 60px;
    flex-direction: column;
  }

  &__text {
    font-size: 18px;
    line-height: 200%;
    text-align: justify;
    color: $blackTextColor;
  }

  &__subheading {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    color: $blackTextColor;
  }

  &__cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1.5rem;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  border-radius: 32px;

  &__container {
    width: 100%;
    height: 649px;
  }
}

.quote {
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;

  &__container {
    background-color: #e7e7e7;
    border-radius: 32px;
    padding: 61px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 566px;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 32px;

    &_container {
      height: 566px;
    }
  }
}
