@import "@/style/font_default";

.links {
  display: flex;
  gap: 24px;
  flex-direction: column;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__share {
    color: $backgroundColorDarkBlue;
    font-weight: 500;
    text-transform: uppercase;
  }
}
